ems-commons/src/main/java/mypackage/CASWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gaas.gam.com/webservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gaas.gam.com/webservice" name="CASWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://gaas.gam.com/webservice" schemaLocation="http://10.7.17.28:7001/gaasws/CASWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://gaas.gam.com/webservice/fault" schemaLocation="http://10.7.17.28:7001/gaasws/CASWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="getLoginToken">
<part name="parameters" element="tns:getLoginToken"/>
</message>
<message name="getLoginTokenResponse">
<part name="parameters" element="tns:getLoginTokenResponse"/>
</message>
<message name="CASWebServiceFaultException">
<part name="fault" element="tns:CASWebServiceFault"/>
</message>
<message name="validateTicket">
<part name="parameters" element="tns:validateTicket"/>
</message>
<message name="validateTicketResponse">
<part name="parameters" element="tns:validateTicketResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="CASWebServiceInterface">
<operation name="getLoginToken">
<input wsam:Action="getLoginToken" message="tns:getLoginToken"/>
<output wsam:Action="http://gaas.gam.com/webservice/CASWebServiceInterface/getLoginTokenResponse" message="tns:getLoginTokenResponse"/>
<fault message="tns:CASWebServiceFaultException" name="CASWebServiceFaultException" wsam:Action="http://gaas.gam.com/webservice/CASWebServiceInterface/getLoginToken/Fault/CASWebServiceFaultException"/>
</operation>
<operation name="validateTicket">
<input wsam:Action="validateTicket" message="tns:validateTicket"/>
<output wsam:Action="http://gaas.gam.com/webservice/CASWebServiceInterface/validateTicketResponse" message="tns:validateTicketResponse"/>
<fault message="tns:CASWebServiceFaultException" name="CASWebServiceFaultException" wsam:Action="http://gaas.gam.com/webservice/CASWebServiceInterface/validateTicket/Fault/CASWebServiceFaultException"/>
</operation>
<operation name="login">
<input wsam:Action="login" message="tns:login"/>
<output wsam:Action="http://gaas.gam.com/webservice/CASWebServiceInterface/loginResponse" message="tns:loginResponse"/>
<fault message="tns:CASWebServiceFaultException" name="CASWebServiceFaultException" wsam:Action="http://gaas.gam.com/webservice/CASWebServiceInterface/login/Fault/CASWebServiceFaultException"/>
</operation>
</portType>
<binding name="CASWebServiceImplBinding" type="tns:CASWebServiceInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLoginToken">
<soap:operation soapAction="getLoginToken"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CASWebServiceFaultException">
<soap:fault name="CASWebServiceFaultException" use="literal"/>
</fault>
</operation>
<operation name="validateTicket">
<soap:operation soapAction="validateTicket"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CASWebServiceFaultException">
<soap:fault name="CASWebServiceFaultException" use="literal"/>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction="login"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CASWebServiceFaultException">
<soap:fault name="CASWebServiceFaultException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CASWebService">
<port name="CASWebServiceImpl" binding="tns:CASWebServiceImplBinding">
<soap:address location="http://10.7.17.28:7001/gaasws/CASWebService"/>
</port>
</service>
</definitions>